* {
  box-sizing: border-box; }

.container {
  width: 1024px;
  margin: 0 auto;
  height: auto; }

.header {
  background: url("../images/Header-bg.png") no-repeat;
  background-size: cover;
  min-height: 500px; }
  .header .container-wrap {
    background: rgba(255, 255, 255, 0.9);
    height: 89px;
    width: 100%; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px; }
    .header .container .logo {
      font-family: Lavanderia, sans-serif;
      font-size: 40.99px;
      width: 200px;
      height: auto; }
      .header .container .logo h1 {
        color: #000000; }
        .header .container .logo h1 span {
          color: #ba4562; }
    .header .container .nav {
      width: 550px;
      float: right; }
    .header .container ul {
      width: 550px;
      display: flex; }
      .header .container ul li {
        margin-right: 38px;
        display: flex;
        align-items: center; }
        .header .container ul li a {
          text-decoration: none;
          color: #454545;
          font-size: 16.99px;
          border-bottom: 2px solid transparent;
          transition: 0.3s; }
        .header .container ul li a:hover {
          border-bottom: 2px solid #de6d6e;
          transition-timing-function: ease-in-out; }
        .header .container ul li .btn {
          width: 87px;
          height: 27px;
          border-radius: 3px;
          border: none;
          background: #de6d6e;
          cursor: pointer;
          color: #fff;
          font-size: 16.99px;
          padding: 0;
          transition: 0.2s; }
          .header .container ul li .btn span {
            margin-right: 7px; }
        .header .container ul li .btn:hover {
          background: #b84a4b;
          transition-timing-function: ease-in-out; }
  .header .container-title {
    display: flex;
    flex-flow: column;
    padding-top: 275px;
    height: auto; }
    .header .container-title h2 {
      font-size: 68.99px;
      color: #fff; }
    .header .container-title p {
      font-size: 25px;
      color: #fff; }

.first-section {
  height: auto; }
  .first-section .wrapper {
    width: 100%;
    height: auto;
    border-bottom: 4px solid;
    border-image: linear-gradient(to bottom, #e9e9e9, #ffffff) 100% 20%;
    padding-bottom: 50px; }
  .first-section .container {
    height: auto;
    text-align: center; }
    .first-section .container .title {
      padding-top: 65px;
      font-family: sans-serif; }
      .first-section .container .title h2 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 2%; }
      .first-section .container .title p {
        font-size: 17px; }
  .first-section .flex-icons {
    padding-top: 85px;
    display: flex;
    justify-content: space-around;
    height: auto; }
  .first-section .round {
    width: 179px;
    height: 179px;
    border-radius: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s; }
    .first-section .round .titles {
      display: inline-block;
      padding-top: 5px;
      color: #fff;
      font-size: 17px; }
    .first-section .round .round-hover {
      display: none; }
  .first-section .round-one {
    background: #4eb9f4; }
  .first-section .round-two {
    background: #6fc125; }
  .first-section .round-three {
    background: #ff5649; }
  .first-section .round-four {
    background: #e48f23; }
  .first-section .round:hover {
    cursor: pointer;
    transition-timing-function: ease-in-out; }
    .first-section .round:hover .round-hover {
      transition: 0.3s;
      display: flex;
      position: absolute;
      width: 120px;
      height: 170px;
      overflow: hidden;
      color: #fff;
      font-size: 12px;
      text-align: center;
      align-items: center; }
    .first-section .round:hover img,
    .first-section .round:hover .titles {
      transition: 0.3s;
      opacity: 0.2; }

.second-section {
  margin-top: 30px; }

.card {
  margin-bottom: 80px;
  display: flex; }
  .card .description {
    margin-left: 2%; }
    .card .description h3 {
      display: inline-block;
      font-size: 27px;
      font-family: sans-serif;
      margin-bottom: 1%;
      color: #404040; }
    .card .description p {
      display: inline-block;
      font-size: 15px;
      line-height: 22px;
      font-family: sans-serif;
      color: #8b8b8b; }

.cards {
  width: 900px;
  margin: auto; }

.footer {
  width: 100%;
  height: 258px;
  background: url("../images/footer-bg.png") repeat-x;
  display: flex; }
  .footer .container {
    width: 1024px;
    display: flex; }
  .footer .left-footer {
    width: 713px; }
  .footer .right-footer {
    width: 310px;
    height: 80px; }
  .footer .left-footer {
    float: right;
    padding-top: 35px; }
    .footer .left-footer h3 {
      font-size: 21px;
      line-height: 22px;
      color: #aeaeae;
      padding-bottom: 20px; }
    .footer .left-footer ul {
      float: right;
      margin-right: 77px; }
    .footer .left-footer ul:first-child {
      margin-left: 0px; }
    .footer .left-footer li a {
      text-decoration: none;
      font-size: 15px;
      line-height: 22px;
      color: #8b8b8b; }
    .footer .left-footer a:hover {
      color: #fff;
      transition: 0.3s; }
  .footer .right-footer {
    height: 100%;
    overflow: hidden; }
    .footer .right-footer p {
      padding-left: 30px;
      padding-top: 29px;
      display: inline-block;
      color: #8b8b8b; }
      .footer .right-footer p a {
        color: #8b8b8b;
        text-decoration: none;
        transition: 0.3s;
        -ms-transition: 0.3s; }
      .footer .right-footer p a:hover {
        color: #fff;
        transition-timing-function: ease-in-out; }
    .footer .right-footer ul {
      float: right;
      margin-top: 50px;
      display: flex; }
      .footer .right-footer ul li {
        margin-left: 25px;
        width: 52px;
        height: 52px;
        background: #696b6a;
        border-radius: 50%;
        text-align: center; }
        .footer .right-footer ul li a {
          width: 52px;
          height: 52px;
          background: #696b6a;
          color: #8b8b8b;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          transition: 0.3s; }
        .footer .right-footer ul li a:hover {
          background: #fff;
          transition-timing-function: ease-in-out; }
