@font-face {
    font-family: 'Lavanderia';
    src: url('../fonts/Lavanderia-Regular.eot');
    src: url('../fonts/Lavanderia-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lavanderia-Regular.woff2') format('woff2'),
        url('../fonts/Lavanderia-Regular.woff') format('woff'),
        url('../fonts/Lavanderia-Regular.ttf') format('truetype'),
        url('../fonts/Lavanderia-Regular.svg#Lavanderia-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

